/* Variables */

/* Colores */

$color-pink-noon: rgb(233, 38, 141);
$color-black-noon: black;
$color-black-transparent: rgba(0, 0, 0, 0.849);
$color-white: whitesmoke;

/* Tamaños */

$size-titles: 3.1rem;
$size-text: 2rem;

/* Seccion Preguntas */

$ancho-preguntas: 80%;
$texto-preguntas: 2rem;
$borde-preguntas: 20px;