/* Contacto */

.form-contacto {
    color: whitesmoke;
}

.boton-enviar {
    background-color: rgba(233, 38, 142, 0.911);
    margin: 10px;
    color: whitesmoke;
    font-weight: bold;
    display: flex;
    justify-content: center;

    &:hover {
        background-color: rgba(29, 29, 29, 0.911);
        transition: 0.2s all linear;
        color: whitesmoke;
    }
}